

.players-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.player-card {
  width: 300px; 
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.player-card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

